body{
    background-color: #BCA3CA;
}

.square{ 
    width: 45rem;
    height: 39rem;
    margin: 4% auto; 
    background-color : rgb(255, 255, 255);
    border-radius: 5%;
    position: relative;
    z-index: 1;
}

.circle{
    width: 2.5rem;
    height: 2.5rem;
    top: -2.8%;
    margin: auto;
    background-color: #7C4789;
    border-radius: 20rem;
    position: relative;
    z-index: 2;
}